ul,
ol {
    list-style: none;
}
button:hover,
button:focus{
    background: #4D5AE5;
    color: #FFFFFF;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 101px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    cursor: pointer;
}